/*!
 * Chat room css 
 */

.chatroom {
    /*background: #1d9b6c;*/
    /*background: rgba(255, 255, 255, .15);*/
    display: flex;
}

.info-area {
    padding: 10px;
    text-align: left;
    background: rgba(158, 30, 30, .9);
    display: inline-table;
}

.connected .info-area {
    background: rgba(30, 155, 108, .8);
}

.chat-area {
    height: 100%;
    padding-top: 10px;
    color: black;
    text-align: left;
    flex: 2;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, .15);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.25);
    background: rgba(0, 0, 0, .7);
}

.profile_pic {
    width: 30px;
    border-radius: 50%;
    display: none;
}

.connected .profile_pic {
    display: initial;
}

.profile_age {
    color: #CCCCCC;
}

.connected .profile_age {
    padding: 0 5px;
}

.chat-footer {
    bottom: 0;
    height: 45px;
    width: 100%;
    border-top: 1px #c9d0da solid;
    font-size: 14px;
    background: white;
}

.conversation {
    height: 100%;
    overflow-y: scroll;
}

.msg-area {
    padding: 10px 8px 6px;
    white-space: pre-wrap;
    word-wrap: break-word;
    position: relative;
    z-index: 1;
    outline: none;
}

.msg-area::selection {
    background: rgba(0,0,0,.2);
}

.msg-placeholder {
    padding: 10px 8px 6px;
    position: absolute;
    color:#333338;
    opacity: .9;
    z-index: 0;
}

.msg-block {
    position: relative;
    padding: 4px 14px 4px 19px;
}

.message {
    position: relative;
    background-color: #e9eaed;
    padding: 5px 8px 4px;
    border-collapse: collapse;
    border: 1px solid #bcc7d6;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 80%;
    display: inline-block;
}

.rMsg {
    text-align: right;
}

.lMsg {
    text-align: left;
}

.rMsg .message {
    background: #bed8fd;
    border-radius: 12px 0 0 12px;
}

.rMsg .msg-block:first-child .message {
    border-top-right-radius: 12px;
}

.rMsg .msg-block:last-child:not(:first-child) .message {
    border-bottom-right-radius: 12px;
}

.lMsg .message{
    background: #fefefe;
    border-radius: 0 12px 12px 0;
}

.lMsg .msg-block:first-child  .message {
    border-top-left-radius: 12px;
}

.lMsg .msg-block:last-child:not(:first-child)  .message {
    border-bottom-left-radius: 12px;
}

#chat-room {
    z-index: 1033;
    width: 100%;
}

@media(min-width:541px) {
    
    .chatroom {
        height: 80%;
        width: 70%;
        min-width: 500px;
    }

    .info-area {
        text-align: center;
        width: 160px;
        margin-right: 15px;
    }
    
    .profile_pic {
        width: 80%;
        margin: 10px;
    }

}

@media(min-width:970px) { 
    .info-area {
        width: 200px;
    }
}

@media(max-width:540px) {
    
    .chatroom {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .info-area {
        z-index: 1033;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
        width: 100%;
    }

    .chat-area {
        z-index: 1033;
        width: 100%;
    }

    .profile_age {
        font-size: 11px;
    }
    
    .profile_name {
        font-size: 14px;
    }
}